<article class="col-xl-4 col-md-6 col-lg-6">
    <div class="col-md-12 article">
        <div class="row" style='height: 200px;background-image: url({{ .Site.BaseURL }}/images/{{ .Params.img }});background-size: cover;'>
            <!--<img src="{{ .Site.BaseURL }}/images/{{ .Params.img }}" alt="">-->
        </div>
        <header class="list-header">
            {{ if .Title }}
            <h2 class="list-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            {{ end }}
            <!--<span class="list-post-date">-->
                <!--<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">-->
                <!--{{ .PublishDate.Format "2 January, 2006 at 15:04 MST" }}-->
                <!--</time>-->
            <!--</span>-->
        </header>

        <div class="summary">
            <p class="summarytext">{{ .Params.summary }}</p>
        </div>
        <div>
            <div class="avatar" style='background-image: url({{ .Site.BaseURL }}/images/{{ .Params.avatar }})'></div>
            <span class="author">{{ .Params.Author }}</span>
            <span class="pip">|</span>
            <span class="date">

            </span>
        </div>
        {{ if .Truncated }}
        <p class="text-left"><a class="read-more" href="{{ .Permalink }}">ادامه مطلب &larr; </a></p>
        {{ end }}
    </div>
</article>