<head>
    <meta charset="utf-8">
    <!-- Site details -->
    <title>{{ .Site.Title }}</title>

    <meta name="description" content="{{ .Params.description }}">
    <meta name="author" content="{{ .Params.author }}">
    <meta property="og:title" content="{{ .Params.title }}"/>
    <meta property="og:description" content="{{ .Params.description }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="fa_IR"/>
    <meta property="og:site_name" content="بلاگ چابک"/>
    <meta property="og:url" content="https://blog.chabokpush.com/"/>
    <meta property="og:image" content="{{ .Site.BaseURL }}/chaboklogo.png"/>


    <!-- Favicon details -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/chaboklogo.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#00416a">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">
    <!-- IndieWeb identity -->
    {{ with .Site.Params.IndieWeb.EmailAddress }}<link rel="me" href="mailto:{{ . }}">{{ end }}
    {{ with .Site.Params.IndieWeb.GitHubUser }}<link rel="me" href="https://github.com/{{ . }}">{{ end }}
    {{ with .Site.Params.IndieWeb.TwitterUser }}<link rel="me" href="https://twitter.com/{{ . }}">{{ end }}
    {{ with .Site.Params.IndieWeb.MicroBlogUser }}<link rel="me" href="https://micro.blog/{{ . }}">{{ end }}
    <!-- IndieAuth endpoint -->
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <!-- Other stuff to make the site work -->
    <style type="text/css">{{ partial "fonts.css" . | safeCSS }}</style>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<script type="text/javascript" src='{{ .Site.BaseURL }}/js/moment.js'></script>-->
</head>